<!DOCTYPE html>
<html>

<head>

    <title>InnovIndex</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script type="text/javascript">
        function loadTeam() {
            //window.location.reload('team');
            location.href = "/team";
        }
        function loadDashboard() {
            //window.location.reload('team');
            location.href = "/";
        }
        function loadObservations() {
            console.log('loadObservations');
        }
        function loadReports() {
            console.log('loadReports');
        }
    </script>
</head>

<body>
    <!--<b>check</b>-->
    <!--<b>{% static 'haha'%}</b>-->
    <div class="container-fluid text-center">
        <div class='col-md-12'>
            <br />

            <div class="row">
                <div class='col-md-1'></div>
                <div class='col-md-10'>
                    <img width="100%"  src="https://raw.githubusercontent.com/daming-lu/innovindex/master/pubmed/static/img/header_img.png">
                </div>
                <div class='col-md-1'></div>

            </div>
            <div class="row">
                <div class='col-md-1'></div>
                <div class='col-md-10'>
                    <h1>Meet the Team!</h1>
                    <br />
                </div>
                <div class='col-md-1'></div>
            </div>
            <div class="row">
                <div class='col-md-2'></div>
                <div class="container">
                    <div class="row">
                        <div id="justified-button-bar" class="col-lg-12 ">
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group">
                                    <button id="button-dash" title="Dashboard" onclick="loadDashboard()" type="button" class="btn btn-default" data-toggle="tooltip">
                                    <span class="glyphicon glyphicon-dashboard"></span>&nbsp; Dashboard
                                    </button>
                                </div>
                                <div id="justified-button-bar" class="btn-group">
                                    <button id="button-observe" title="Enter and edit observations" onclick="loadObservations()" type="button" class="btn btn-default" data-toggle="tooltip">
                                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp; Admin
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button id="button-reports" title="View reports and charts" onclick="loadReports()" type="button" class="btn btn-default" data-toggle="tooltip">
                                    <span class="glyphicon glyphicon-stats"></span>&nbsp; Analysis
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button id="button-partners" title="Partners"
                                            onclick="loadTeam()"
                                            type="button" class="btn btn-default" data-toggle="tooltip">
                                    <span class="glyphicon glyphicon-star"></span>&nbsp; Team
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-2'></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                  <div class="team-member-card show-member-mobile">
                    <div class="team-member-photo" >
                        <img width="100%"  src="http://www.avatarsdb.com/avatars/tuxedo_mask.jpg">
                    </div>
                    <p>Bill has years of experience in medical area and is a brain behind InnovIndex</p>
                    <div class="team-member-title">
                      <h3 class="team-member-name">Bill Xu</h3>
                      <h4 class="team-member-position">CEO</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="team-member-card show-member-mobile">
                    <div class="team-member-photo" >
                        <img width="100%"  src="https://media.licdn.com/media/p/5/000/236/108/2374f47.jpg">
                    </div>
                    <p>Jessica is a rock-star data scientist. She likes hiking, biking and diving into massive data</p>
                    <div class="team-member-title">
                      <h3 class="team-member-name">Jessica Li</h3>
                      <h4 class="team-member-position">Chief Data Scientist</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="team-member-card show-member-mobile">
                    <div class="team-member-photo" >
                        <img width="100%"  src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/01c/162/0e5599b.jpg">
                    </div>
                    <p>Daming builds web components for InnovIndex and maintains the service.</p>
                    <div class="team-member-title">
                      <h3 class="team-member-name">Daming Lu</h3>
                      <h4 class="team-member-position">Software Engineer</h4>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

</body>



</html>